<header>
  <div class="header-top pt-10 pb-10 pt-lg-10 pb-lg-10 pt-md-10 pb-md-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center text-sm-left">
          <!-- currncy language dropdown -->
          <div class="lang-currency-dropdown">
            <ul>
              <li> <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">English <i class="fa fa-chevron-down"></i></a>
                <ul>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">French</a></li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">Japanease</a></li>
                </ul>
              </li>
              <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">Dollar <i class="fa fa-chevron-down"></i></a>
                <ul>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">Euro</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- end of currncy language dropdown -->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  text-center text-sm-right">
          <!-- header top menu -->
          <div class="header-top-menu">
            <ul>
              <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html">My account</a></li>
              <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/wishlist.html">Wishlist</a></li>
              <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/checkout.html">Checkout</a></li>
            </ul>
          </div>
          <!-- end of header top menu -->
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom header-bottom-one header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
          <!-- logo -->
          <div class="logo mt-15 mb-15">
            <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index.html">
              <img src="assets/images/logo.png" class="img-fluid" alt="">
            </a>
          </div>
          <!-- end of logo -->
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="menubar-top justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15 d-flex">
            <!-- header phone number -->
            <div class="header-contact d-flex">
              <div class="phone-icon">
                <img src="assets/images/icon-phone.png" class="img-fluid" alt="">
              </div>
              <div class="phone-number">
                Phone: <span class="number">1-888-123-456-89</span>
              </div>
            </div>
            <!-- end of header phone number -->
            <!-- search bar -->
            <div class="header-advance-search">
              <form action="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">
                <input type="text" placeholder="Search your product">
                <button><span><i class="fa fa-search" aria-hidden="true"></i></span></button>
              </form>
            </div>
            <!-- end of search bar -->
            <!-- shopping cart -->
            <div class="shopping-cart" id="shopping-cart">
              <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html">
                <div class="cart-icon d-inline-block">
                  <span class="icon_bag_alt"></span>
                </div>
                <div class="cart-info d-inline-block">
                  <p>Shopping Cart
                    <span>
                        0 items - $0.00
                      </span>
                  </p>
                </div>
              </a>
              <!-- end of shopping cart -->

              <!-- cart floating box -->
              <div class="cart-floating-box" id="cart-floating-box">
                <div class="cart-items">
                  <div class="cart-float-single-item d-flex">
                    <span class="remove-item"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#"><i class="fa fa-times"></i></a></span>
                    <div class="cart-float-single-item-image">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html"><img src="assets/images/product01.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="cart-float-single-item-desc">
                      <p class="product-title"> <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Duis pulvinar obortis eleifend </a></p>
                      <p class="price"><span class="count">1x</span> $20.50</p>
                    </div>
                  </div>
                  <div class="cart-float-single-item d-flex">
                    <span class="remove-item"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#"><i class="fa fa-times"></i></a></span>
                    <div class="cart-float-single-item-image">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html"><img src="assets/images/product02.jpg" class="img-fluid" alt=""></a>
                    </div>
                    <div class="cart-float-single-item-desc">
                      <p class="product-title"> <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Fusce ultricies dolor vitae</a></p>
                      <p class="price"><span class="count">1x</span> $20.50</p>
                    </div>
                  </div>
                </div>
                <div class="cart-calculation">
                  <div class="calculation-details">
                    <p class="total">Subtotal <span>$22</span></p>
                  </div>
                  <div class="floating-cart-btn text-center">
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/checkout.html">Checkout</a>
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html">View Cart</a>
                  </div>
                </div>
              </div>
              <!-- end of cart floating box -->
            </div>
          </div>

          <!-- navigation section -->
          <div class="main-menu">
            <nav style="display: block;">
              <ul>
                <li class="active menu-item-has-children"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">HOME</a>
                  <ul class="sub-menu">
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index.html">Home Shop 1</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index-2.html">Home Shop 2</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index-3.html">Home Shop 3</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index-4.html">Home Shop 4</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index-5.html">Home Shop 5</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index-6.html">Home Shop 6</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Shop</a>
                  <ul class="sub-menu">
                    <li class="menu-item-has-children"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-4-column.html">shop grid</a>
                      <ul class="sub-menu">
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-3-column.html">shop 3 column</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-4-column.html">shop 4 column</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">shop left sidebar</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-right-sidebar.html">shop right sidebar</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-list.html">shop List</a>
                      <ul class="sub-menu">
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-list.html">shop List</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-list-left-sidebar.html">shop List Left Sidebar</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-list-right-sidebar.html">shop List Right Sidebar</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Single Product</a>
                      <ul class="sub-menu">
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Single Product</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-variable.html">Single Product variable</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-affiliate.html">Single Product affiliate</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-group.html">Single Product group</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-tabstyle-2.html">Tab Style 2</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-tabstyle-3.html">Tab Style 3</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-gallery-left.html">Gallery Left</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-gallery-right.html">Gallery Right</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-sticky-left.html">Sticky Left</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-sticky-right.html">Sticky Right</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product-slider-box.html">Slider Box</a></li>

                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">PAGES</a>
                  <ul class="mega-menu three-column">
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">Column One</a>
                      <ul>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html">Cart</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/checkout.html">Checkout</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/wishlist.html">Wishlist</a></li>

                      </ul>
                    </li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">Column Two</a>
                      <ul>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html">My Account</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/login-register.html">Login Register</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/faq.html">FAQ</a></li>
                      </ul>
                    </li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">Column Three</a>
                      <ul>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/compare.html">Compare</a></li>
                        <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/contact.html">Contact</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">BLOG</a>
                  <ul class="sub-menu">
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-3-column.html">Blog 3 column</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-list-left-sidebar.html">Blog List Left Sidebar</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-list-right-sidebar.html">Blog List Right Sidebar</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-post-left-sidebar.html">Blog Post Left Sidebar</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-post-right-sidebar.html">Blog Post Right Sidebar</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-post-image-format.html">Blog Post Image Format</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-post-image-gallery.html">Blog Post Image Gallery Format</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-post-audio-format.html">Blog Post Audio Format</a></li>
                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/blog-post-video-format.html">Blog Post Video Format</a></li>
                  </ul>
                </li>
                <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/contact.html">CONTACT</a></li>
              </ul>
            </nav>
          </div>
          <!-- end of navigation section -->
        </div>
        <div class="col-12">
          <!-- Mobile Menu -->
          <div class="mobile-menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
</header>
