<header>
  <div class="header-top pt-10 pb-10 pt-lg-10 pb-lg-10 pt-md-10 pb-md-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center text-sm-left">
          <div class="lang-currency-dropdown">
            <ul>
              <li *ngIf="tokenStorage.isLoggedIn()"> <a> Welcome {{tokenStorage.getFullName()}}</a>
                <span *ngIf="tokenStorage.hasFarmerRole()">. You're FARMER</span>
                <span *ngIf="tokenStorage.hasBuyerRole()">. You're BUYER</span>
                <span *ngIf="tokenStorage.hasAdminRole()">. You're ADMIN</span>
                <span *ngIf="tokenStorage.hasPMRole()">. You're OPERATION STAFF</span>
              </li>
              <li *ngIf="!tokenStorage.isLoggedIn()"> <a> You're surfing as guest</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  text-center text-sm-right">
          <div class="header-top-menu">
            <ul>
              <li *ngIf="tokenStorage.isLoggedIn()"><a routerLink="/my-account">My account</a></li>
              <li *ngIf="!tokenStorage.isLoggedIn()"><a routerLink="/login">Login</a></li>
              <li *ngIf="!tokenStorage.isLoggedIn()"><a routerLink="/register">Register an account</a></li>
              <li *ngIf="tokenStorage.isLoggedIn()"><a (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom header-bottom-one header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
          <div class="logo mt-15 mb-15">
            <a routerLink="/home">
              <img src="assets/images/logo.png" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="menubar-top justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15 d-flex">
            <div class="header-contact d-flex">
              <div class="phone-icon">
                <img src="assets/images/icon-phone.png" class="img-fluid" alt="">
              </div>
              <div class="phone-number">
                Phone: <span class="number">+63-916-756-8096</span>
              </div>
            </div>

            <div class="header-advance-search">
              <form role="form" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                <input type="text" placeholder="Search products" id="productName" name="productName" [(ngModel)]="form.productName" #productName="ngModel">
                <button (click)="search()"><span><i class="fa fa-search" aria-hidden="true"></i></span></button>
              </form>
            </div>

            <div class="shopping-cart" id="shopping-cart">
              <a routerLink="/cart">
                <div class="cart-icon d-inline-block">
                  <span><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                </div>
                <div class="cart-info d-inline-block">
                  <p>Shopping Cart
                    <span>
                        {{totalItem}} item(s) - PHP {{totalPrice | number}}
                      </span>
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="main-menu">
            <nav style="display: block;">
              <ul>
                <li class="active"><a routerLink="/home">HOME</a></li>
                <li><a routerLink="/track">TRACK ORDER</a></li>
                <li><a routerLink="/checkout">CHECK OUT</a></li>
                <li><a routerLink="/checkout">PRIVACY POLICY</a></li>
                <li><a routerLink="/checkout">TERMS & CONDITION</a></li>
                <li><a routerLink="/about-us">CONTACT US</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
