<footer>
  <div class="newsletter-section pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-20 mb-xs-20">
          <div class="newsletter-title">
            <h1>
              <img src="assets/images/icon-newsletter.png" alt="">
              Send Newsletter
            </h1>
          </div>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="subscription-form-wrapper d-flex flex-wrap flex-sm-nowrap">
            <p class="mb-xs-20">Sign up for our newsletter to get up-to-date from us</p>
            <div class="subscription-form">
              <form id="mc-form" class="mc-form subscribe-form" novalidate="true">
                <input type="email" id="mc-email" autocomplete="off" placeholder="Your email address" name="EMAIL">
                <button id="mc-submit" type="submit"> subscribe!</button>
              </form>

              <div class="mailchimp-alerts">
                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
              </div><!-- mailchimp-alerts end -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="social-contact-section pt-50 pb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 order-2 order-md-2 order-sm-2 order-lg-1">
          <div class="social-media-section">
            <h2>Follow us</h2>
            <div class="social-links">
              <a class="facebook" href="http://www.facebook.com/" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
              <a class="twitter" href="http://www.twitter.com/" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
              <a class="instagram" href="http://www.instagram.com/" data-tooltip="Instagram"><i class="fa fa-instagram"></i></a>
              <a class="linkedin" href="http://www.linkedin.com/" data-tooltip="Linkedin"><i class="fa fa-linkedin"></i></a>
              <a class="rss" href="http://www.rss.com/" data-tooltip="RSS"><i class="fa fa-rss"></i></a>
            </div>
          </div>

        </div>
        <div class="col-lg-8 col-md-12 order-1 order-md-1 order-sm-1 order-lg-2  mb-sm-50 mb-xs-50">

          <div class="contact-summery">
            <h2>Contact us</h2>

            <div class="contact-segments d-flex justify-content-between flex-wrap flex-lg-nowrap">
              <div class="single-contact d-flex mb-xs-20">
                <div class="icon">
                  <span class="icon_pin_alt"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div>
                <div class="contact-info">
                  <p>Address: <span>AMA University Quezon City</span></p>
                </div>
              </div>
              <div class="single-contact d-flex mb-xs-20">
                <div class="icon">
                  <span class="icon_mobile"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                </div>
                <div class="contact-info">
                  <p>Phone: <span>09167568096</span></p>
                </div>
              </div>

              <div class="single-contact d-flex">
                <div class="icon">
                  <span class="icon_mail_alt"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <div class="contact-info">
                  <p>Email: <span>phamvanthach.ama@gmail.com</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-navigation-section pt-40 pb-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
          <div class="single-navigation-section">
            <h3 class="nav-section-title">INFORMATION</h3>
            <ul>
              <li> <a href="">About Us</a></li>
              <li> <a href="">Delivery Information</a></li>
              <li> <a href="">Privacy Policy</a></li>
              <li> <a href="">Terms &amp; Condition</a></li>
            </ul>
          </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">

          <div class="single-navigation-section">
            <h3 class="nav-section-title">MY ACCOUNT</h3>
            <ul>
              <li> <a href="">My Account</a></li>
              <li> <a href="">Wishlist</a></li>
              <li> <a href="">Shopping Cart</a></li>
              <li> <a href="">Newsletter</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
          <div class="single-navigation-section">
            <h3 class="nav-section-title">CUSTOMER SERVICE</h3>
            <ul>
              <li> <a href="">Contact</a></li>
              <li> <a href="">OUR SERVICE</a></li>
              <li> <a href="">RETURNS</a></li>
              <li> <a href="">SITE MAP</a></li>
            </ul>
          </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="single-navigation-section">
            <h3 class="nav-section-title">Extras</h3>
            <ul>
              <li> <a href="">BRANDS</a></li>
              <li> <a href="">GIFT VOUCHERS</a></li>
              <li> <a href="">AFFILIATES</a></li>
              <li> <a href="">SPECIALS</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="copyright-section pt-35 pb-35">
    <div class="container">
      <div class="row align-items-md-center align-items-sm-center">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-left">

          <div class="copyright-segment">
            <p>
              <a href="">Privacy Policy</a>
              <span class="separator">|</span>
              <a href="">Term and conditions</a>
            </p>
            <p class="copyright-text">© 2019 <a href="https://demo.hasthemes.com/">Thach Farm</a>. All Rights Reserved</p>
          </div>

        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
          <div class="payment-info text-center text-md-right">
            <p>Allow payment base on <img src="assets/images/payment-icon.png" class="img-fluid" alt=""></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

