<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/index.html"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section section mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Checkout Form s-->
            <form  role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="checkout-form">
              <div class="row row-40">

                <div class="col-lg-7 mb-20">

                  <!-- Billing Address -->
                  <div id="billing-form" class="mb-40">
                    <h4 class="checkout-title">Billing Information</h4>

                    <div class="row">

                      <div class="col-md-12 col-12 mb-20">
                        <label>Full name</label>
                        <input type="text" placeholder="Full Name" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" readonly>
                      </div>

                      <div class="col-md-6 col-12 mb-20">
                        <label>Email Address</label>
                        <input type="email" placeholder="Email Address" id="email" name="email" [(ngModel)]="form.email" #email="ngModel" readonly>
                      </div>

                      <div class="col-md-6 col-12 mb-20">
                        <label>Phone no</label>
                        <input type="text" placeholder="Phone number" id="phone" name="phone" [(ngModel)]="form.phone" #phone="ngModel" readonly>
                      </div>
                    </div>
                  </div>

                  <!-- Shipping Address -->
                  <div id="shipping-form" class="mb-40">
                    <h4 class="checkout-title">Shipping Address</h4>

                    <div class="row">
                      <div class="col-md-6 col-12 mb-25">
                        <label>Select deliver address</label>
                        <select class="nice-select" id="deliverAddress" name="deliverAddress" [(ngModel)]="form.deliverAddress" #deliverAddress="ngModel" (change)="changeDeliverAddress($event.target.value)">
                          <option *ngFor="let add of addresses" [ngValue]="add">{{add.name}}</option>
                        </select>
                      </div>
                      <div class="col-md-6 col-12 mb-25">
                        <label>Deliver region</label>
                        <input type="text" id="state" name="state" [(ngModel)]="form.state" #state="ngModel" readonly>
                      </div>
                      <div class="col-md-12 col-12 mb-25">
                        <label>Deliver address</label>
                        <input type="text" id="address" name="address" [(ngModel)]="form.address" #address="ngModel" readonly>
                      </div>
                      <div class="col-md-12 col-12 mb-25">
                        <label>Select shipping method</label>
                        <select class="nice-select" id="shippingMethod" name="shippingMethod" [(ngModel)]="form.shippingMethod" #shippingMethod="ngModel" (change)="changeShippingMethod($event.target.value)">
                          <option *ngFor="let sm of shippingMethods" [ngValue]="sm">{{sm.method}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="row">

                    <!-- Cart Total -->
                    <div class="col-12 mb-60">

                      <h4 class="checkout-title">Cart Total</h4>

                      <div class="checkout-cart-total">

                        <h4>Product <span>Total</span></h4>

                        <ul>
                          <li *ngFor="let s of shoppingCart">{{s.product.name}} X {{s.quantity}} <span>PHP {{s.price*s.quantity | number}}</span></li>
                        </ul>

                        <p>Sub Total <span>PHP {{totalPrice | number}}</span></p>
                        <p>Shipping Fee <span>PHP {{shippingFee | number}}</span></p>

                        <h4>Grand Total <span>PHP {{totalPrice + shippingFee | number}}</span></h4>

                      </div>

                    </div>

                    <!-- Payment Method -->
                    <div class="col-12">

                      <h4 class="checkout-title">Payment Method</h4>

                      <div class="checkout-payment-method">

                        <div class="single-method">
                          <input type="radio" id="payment_check" name="payment-method" value="check" [(ngModel)]="form.paymentMethod" #paymentMethod="ngModel">
                          <label for="payment_check">Check Payment</label>
                        </div>

                        <div class="single-method">
                          <input type="radio" id="payment_bank" name="payment-method" value="bank"  [(ngModel)]="form.paymentMethod" #paymentMethod="ngModel">
                          <label for="payment_bank">Direct Bank Transfer</label>
                        </div>

                        <div class="single-method">
                          <input type="radio" id="payment_cash" name="payment-method" value="cash"  [(ngModel)]="form.paymentMethod" #paymentMethod="ngModel">
                          <label for="payment_cash">Cash on Delivery</label>
                        </div>

                        <div class="single-method">
                          <input type="radio" id="payment_paypal" name="payment-method" value="paypal" [(ngModel)]="form.paymentMethod" #paymentMethod="ngModel">
                          <label for="payment_paypal">Paypal</label>
                        </div>

                        <div class="single-method">
                          <input type="radio" id="payment_payoneer" name="payment-method" value="payoneer" [(ngModel)]="form.paymentMethod" #paymentMethod="ngModel">
                          <label for="payment_payoneer">Payoneer</label>
                        </div>

                        <div class="single-method">
                          <input type="checkbox" id="accept_terms" [ngModelOptions]="{standalone: true}" [(ngModel)]="form.readTerm">
                          <label for="accept_terms">I’ve read and accept the terms &amp; conditions</label>
                        </div>

                      </div>

                      <button type="submit" class="place-order">order</button>

                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>
