<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="my-store"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="my-store" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right"><a routerLink="new" data-toggle="tooltip" title="View detail" class="btn btn-info"><i class="fa fa-eye"></i></a></span>
                      <h3>My store</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <div class="shop-product-wrap grid row no-gutters mb-35">

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <!--=======  Grid view product  =======-->

                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product03.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Grid view product  =======-->

                            <!--=======  Shop list view product  =======-->

                            <div class="gf-product shop-list-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product03.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box mb-20">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse tempora magnam dolorem tenetur eos eligendi non temporibus qui enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, magni.</p>
                                <div class="list-product-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Shop list view product  =======-->
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <!--=======  Grid view product  =======-->

                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product04.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Grid view product  =======-->

                            <!--=======  Shop list view product  =======-->

                            <div class="gf-product shop-list-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product04.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box mb-20">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse tempora magnam dolorem tenetur eos eligendi non temporibus qui enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, magni.</p>
                                <div class="list-product-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Shop list view product  =======-->
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <!--=======  Grid view product  =======-->

                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product05.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Grid view product  =======-->

                            <!--=======  Shop list view product  =======-->

                            <div class="gf-product shop-list-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product05.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box mb-20">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse tempora magnam dolorem tenetur eos eligendi non temporibus qui enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, magni.</p>
                                <div class="list-product-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Shop list view product  =======-->
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <!--=======  Grid view product  =======-->

                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product06.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Grid view product  =======-->

                            <!--=======  Shop list view product  =======-->

                            <div class="gf-product shop-list-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product06.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box mb-20">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse tempora magnam dolorem tenetur eos eligendi non temporibus qui enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, magni.</p>
                                <div class="list-product-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Shop list view product  =======-->
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <!--=======  Grid view product  =======-->

                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product07.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Grid view product  =======-->

                            <!--=======  Shop list view product  =======-->

                            <div class="gf-product shop-list-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product07.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box mb-20">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse tempora magnam dolorem tenetur eos eligendi non temporibus qui enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, magni.</p>
                                <div class="list-product-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Shop list view product  =======-->
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <!--=======  Grid view product  =======-->

                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product08.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Grid view product  =======-->

                            <!--=======  Shop list view product  =======-->

                            <div class="gf-product shop-list-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product08.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="product-hover-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                                </div>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box mb-20">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse tempora magnam dolorem tenetur eos eligendi non temporibus qui enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, magni.</p>
                                <div class="list-product-icons">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                                </div>
                              </div>

                            </div>

                            <!--=======  End of Shop list view product  =======-->
                          </div>
                        </div>
                        <div class="pagination-container">
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12">
                                <!--=======  pagination-content  =======-->

                                <div class="pagination-content text-center">
                                  <ul>
                                    <li><a class="active" href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">1</a></li>
                                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">2</a></li>
                                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">3</a></li>
                                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">4</a></li>
                                    <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#"><i class="fa fa-angle-right"></i></a></li>
                                  </ul>
                                </div>

                                <!--=======  End of pagination-content  =======-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>

