<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header currentPage="store"></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">My Store</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="my-store"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="my-store" role="tabpanel">
                    <div class="myaccount-content">
                      <span *ngIf="tokenStorage.hasFarmerRole()" class="pull-right"><button routerLink="new" data-toggle="tooltip" title="Add new product" class="my-account-search-button"><i class="fa fa-plus"></i></button></span>
                      <span *ngIf="tokenStorage.hasFarmerRole()" class="pull-right ml-25 mr-10"><button routerLink="config" data-toggle="tooltip" title="Config address" class="my-account-search-button"><i class="fa fa-cog"></i></button></span>
                      <span class="pull-right">
                        <label class="mr-5">Product Status</label>
                        <select class="mr-5" id="status" name="status" [(ngModel)]="form.status" #status="ngModel">
                          <option value="">All</option>
                          <option value="PENDING">Pending</option>
                          <option value="APPROVED">Approved</option>
                        </select>
                        <button (click)="search(1)" class="my-account-search-button">SEARCH</button>
                      </span>
                      <h3>My store</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <div class="shop-product-wrap grid row no-gutters mb-35">
                          <div *ngFor="let product of subProducts; let i = index;" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a routerLink="detail/{{product.id}}">
                                  <span *ngIf="product.promotionActive" class="onsale">Sale!</span>
                                  <img src="{{configuration.host}}/api/guest/file/{{product.images[0]}}" class="img-fluid" alt="">
                                </a>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a>Available {{product.quantity}} kg(s)</a>,
                                  <a>{{product.category}}</a>
                                </div>
                                <h3 class="product-title"><a routerLink="detail/{{product.id}}">{{product.name}}</a></h3>
                                <div *ngIf="product.promotionActive" class="price-box">
                                  <span class="main-price">PHP {{product.price | number}}</span>
                                  <span class="discounted-price">PHP {{product.promotionPrice | number}}</span>
                                </div>
                                <div *ngIf="!product.promotionActive" class="price-box">
                                  <span class="discounted-price">PHP {{product.price | number}}</span>
                                </div>
<!--                                <div *ngIf="tokenStorage.hasPMRole() && product.status=='PENDING'" class="product-categories">-->
<!--                                  <a (click)="approveProduct(product.id, i)">Approve</a>-->
<!--                                </div>-->
                                <div class="product-categories">
                                  <a>{{product.status}}</a>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="pagination-container">
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="pagination-content text-center" *ngIf="pages.length>0">
                                  <ul>
                                    <li *ngFor="let page of pages"><a (click)="gotoPage(page)" [ngClass]="page==currentPage?'active': ''">{{page}}</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>

