<ion-content [fullscreen]="true">

  <div class="main-content">

    <app-header #headerPage></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-product-content ">
      <div class="container">
        <div class="single-product-content-container mb-35">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
              <div class="product-image-slider d-flex flex-custom-xs-wrap flex-sm-nowrap align-items-center mb-sm-35">
                <div class="product-small-image-list">
                  <div class="nav small-image-slider-single-product slick-initialized slick-slider slick-vertical" role="tablist">
                    <div class="slick-list draggable" style="height: 306px;">
                      <div class="slick-track" style="opacity: 1; height: 1122px;">
                        <div *ngFor="let i of dto.images" (click)="changePhotoView(i)" class="single-small-image img-full slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 122px;">
                          <a><img src="{{configuration.host}}/api/guest/file/{{i}}" class="img-fluid"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-content product-large-image-list">
                  <div class="tab-pane fade active show" id="single-slide4" role="tabpanel"
                       aria-labelledby="single-slide-tab-4">
                    <div class="single-product-img easyzoom img-full is-ready">
                      <img src="{{savedCurrentPhoto}}" class="img-fluid" alt="">
                      <a href="{{savedCurrentPhoto}}" class="big-image-popup"><i class="fa fa-search-plus"></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
              <div class="product-feature-details">
                <h2 class="product-title mb-15">{{dto.name}}</h2>

                <p class="product-rating">
                  <i [ngClass]="averageRates >= 1? 'active': ''" class="fa fa-star"></i>
                  <i [ngClass]="averageRates >= 2? 'active': ''" class="fa fa-star"></i>
                  <i [ngClass]="averageRates >= 3? 'active': ''" class="fa fa-star"></i>
                  <i [ngClass]="averageRates >= 4? 'active': ''" class="fa fa-star"></i>
                  <i [ngClass]="averageRates >= 5? 'active': ''" class="fa fa-star"></i>

                  <a>({{rates.length}} customer rate)</a>
                </p>

                <h2 *ngIf="dto.promotionActive" class="product-price mb-15">
                  <span class="main-price">PHP {{dto.price}}</span>
                  <span class="discounted-price"> PHP {{dto.promotionPrice}}</span>
                </h2>
                <h2 *ngIf="!dto.promotionActive" class="product-price mb-15">
                  <span class="discounted-price"> PHP {{dto.price}}</span>
                </h2>

                <p class="product-description mb-20">{{dto.description}}</p>


                <div class="cart-buttons mb-20">
                  <div class="pro-qty mr-20 mb-xs-20">
                    <input type="number" [(ngModel)]="quantity">
                    <a (click)="increaseQuantity()" class="inc qty-btn">+</a>
                    <a (click)="decreaseQuantity()" class="dec qty-btn">-</a>
                  </div>
                  <div class="add-to-cart-btn">
                    <a (click)="addItemToCart(dto)"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                  </div>
                </div>

                <div class="single-product-action-btn mb-20">
                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html#"
                     data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> Add to wishlist</a>
                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html#"
                     data-tooltip="Add to compare"> <span class="arrow_left-right_alt"></span> Add to compare</a>
                </div>


                <div class="single-product-category mb-20">
                  <h3>Available: <span><a> {{dto.quantity}} kg(s)</a>, category:
                      <a>{{dto.category}}</a></span>
                  </h3>
                </div>


                <div class="social-share-buttons">
                  <h3>share this product</h3>
                  <ul>
                    <li><a class="twitter"
                           href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html#"><i
                            class="fa fa-twitter"></i></a></li>
                    <li><a class="facebook"
                           href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html#"><i
                            class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus"
                           href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html#"><i
                            class="fa fa-google-plus"></i></a></li>
                    <li><a class="pinterest"
                           href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html#"><i
                            class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="slider related-product-slider mb-35">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h3>Recommendations</h3>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="shop-product-wrap grid row no-gutters mb-35">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="gf-product shop-grid-view-product">
                  <div class="image">
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                      <span class="onsale">Sale!</span>
                      <img src="assets/images/product03.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="product-hover-icons">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="product-categories">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                    </div>
                    <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                    <div class="price-box">
                      <span class="main-price">$89.00</span>
                      <span class="discounted-price">$80.00</span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="gf-product shop-grid-view-product">
                  <div class="image">
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                      <span class="onsale">Sale!</span>
                      <img src="assets/images/product04.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="product-hover-icons">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="product-categories">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                    </div>
                    <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                    <div class="price-box">
                      <span class="main-price">$89.00</span>
                      <span class="discounted-price">$80.00</span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="gf-product shop-grid-view-product">
                  <div class="image">
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                      <span class="onsale">Sale!</span>
                      <img src="assets/images/product05.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="product-hover-icons">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="product-categories">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                    </div>
                    <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                    <div class="price-box">
                      <span class="main-price">$89.00</span>
                      <span class="discounted-price">$80.00</span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="gf-product shop-grid-view-product">
                  <div class="image">
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                      <span class="onsale">Sale!</span>
                      <img src="assets/images/product05.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="product-hover-icons">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Compare"> <span class="arrow_left-right_alt"></span> </a>
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="product-categories">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                    </div>
                    <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                    <div class="price-box">
                      <span class="main-price">$89.00</span>
                      <span class="discounted-price">$80.00</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="single-product-tab-section mb-35">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="tab-slider-wrapper">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a (click)="activeTabLocation()" [ngClass]="showTabLocation? 'active' : ''" class="nav-item nav-link" id="features-tab" data-toggle="tab" role="tab" aria-selected="false">Location</a>
                  <a (click)="activeTabComment()" [ngClass]="showTabComment? 'active' : ''" class="nav-item nav-link" id="review-tab" data-toggle="tab" role="tab" aria-selected="false">Comments</a>
                  <a (click)="activeTabRating()" [ngClass]="showTabRating? 'active' : ''" class="nav-item nav-link" id="description-tab" data-toggle="tab" role="tab" aria-selected="true">Rating</a>
                  <a (click)="activeTabFarmer()" [ngClass]="showTabFarmer? 'active' : ''" class="nav-item nav-link" id="farmer-tab" data-toggle="tab" role="tab" aria-selected="true">About Farmer</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div [ngClass]="showTabLocation? 'active' : ''" class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
                  <div id = "product-detail-location-map" style = "height:350px;"></div>
                </div>
                <div [ngClass]="showTabComment? 'active' : ''" class="tab-pane fade show" id="review" role="tabpanel" aria-labelledby="review-tab">
                  <div class="product-ratting-wrap">
                    <div class="rattings-wrapper">
                      <div *ngFor="let comment of comments" class="sin-rattings">
                        <div class="ratting-author">
                          <h3>{{comment.commentedBy.name}}</h3>
                          <div class="ratting-star">
                            <span>(at {{comment.dateCreated | date: 'yyyy/MM/dd HH:mm' }})</span>
                          </div>
                        </div>
                        <p>{{comment.content}}</p>
                      </div>
                    </div>
                    <div class="ratting-form-wrapper fix">
                      <h3>Add your Comments</h3>
                      <form>
                        <div class="ratting-form row">
                          <div class="col-12 mb-15">
                            <label for="your-review">Your Comments:</label>
                            <textarea name="review" id="your-review" placeholder="Write a comment" [(ngModel)]="myComment"></textarea>
                          </div>
                          <div class="col-12">
                            <input (click)="commentProduct()" value="add comment" type="submit">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div [ngClass]="showTabRating? 'active' : ''" class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <div class="product-ratting-wrap">
                    <div class="pro-avg-ratting">
                      <h4>{{averageRates}} <span>(Overall)</span></h4>
                      <span>Based on {{rates.length}} Comment(s)</span>
                    </div>
                    <div class="ratting-list">
                      <div class="sin-list float-left">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>({{fiveStar}})</span>
                      </div>
                      <div class="sin-list float-left">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <span>({{fourStar}})</span>
                      </div>
                      <div class="sin-list float-left">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <span>({{threeStar}})</span>
                      </div>
                      <div class="sin-list float-left">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <span>({{twoStar}})</span>
                      </div>
                      <div class="sin-list float-left">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <span>({{oneStar}})</span>
                      </div>
                    </div>
                    <div class="rattings-wrapper">
                      <div *ngFor="let rate of rates" class="sin-rattings">
                        <div class="ratting-author">
                          <h3>{{rate.ratedBy.name}}</h3>
                          <div class="ratting-star">
                            <i [ngClass]="rate.star >= 1? 'fa fa-star' : 'fa fa-star-o'"></i>
                            <i [ngClass]="rate.star >= 2? 'fa fa-star' : 'fa fa-star-o'"></i>
                            <i [ngClass]="rate.star >= 3? 'fa fa-star' : 'fa fa-star-o'"></i>
                            <i [ngClass]="rate.star >= 4? 'fa fa-star' : 'fa fa-star-o'"></i>
                            <i [ngClass]="rate.star >= 5? 'fa fa-star' : 'fa fa-star-o'"></i>
                            <span>({{rate.star}})</span>
                            <span>({{rate.dateCreated | date: 'yyyy/MM/dd HH:mm'}})</span>
                          </div>
                        </div>
                        <p></p>
                      </div>
                    </div>
                    <div class="ratting-form-wrapper fix">
                      <h3>Rate The Product</h3>
                      <form>
                        <div class="ratting-form row">
                          <div class="col-12 mb-15">
                            <h5>Rating:</h5>
                            <div class="ratting-star fix">
                              <i (click)="rateProduct(1)" [ngClass]="myRate.star >= 1? 'fa fa-star' : 'fa fa-star-o'"></i>
                              <i (click)="rateProduct(2)" [ngClass]="myRate.star >= 2? 'fa fa-star' : 'fa fa-star-o'"></i>
                              <i (click)="rateProduct(3)" [ngClass]="myRate.star >= 3? 'fa fa-star' : 'fa fa-star-o'"></i>
                              <i (click)="rateProduct(4)" [ngClass]="myRate.star >= 4? 'fa fa-star' : 'fa fa-star-o'"></i>
                              <i (click)="rateProduct(5)" [ngClass]="myRate.star >= 5? 'fa fa-star' : 'fa fa-star-o'"></i>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div [ngClass]="showTabFarmer? 'active' : ''" class="tab-pane fade" id="farmer" role="tabpanel" aria-labelledby="description-tab">
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-lg-3 col-12">
                          <div class="myaccount-tab-menu nav" role="tablist">
                            <a [ngClass]="farm.key==aboutAuthorCurrentFarm.id?'active':''" *ngFor="let farm of farmMap | keyvalue;" (click)="changeAboutFarmerFarm(farm.key)">
                              <i class="fa fa-user"></i>
                              {{farm.value.address}}
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-9 col-12">
                          <div class="tab-content" id="myaccountContent">
                            <div class="tab-pane fade active" id="register" role="tabpanel">
                              <div class="myaccount-content">
                                <h3>Farm Gallery</h3>

                                <div class="myaccount-table table-responsive text-center">
                                  <div class="col-sm-12 col-md-12 col-xs-12">
                                    <form>
                                      <div class="login-form">
                                        <div>
                                          <div class="mb-7 mb-md-0">
                                            <div class="tab-content mb-2" id="pills-tabContent">
                                              <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                <img class="card-img rounded-0" src="{{aboutAuthorCurrentFarmPhoto}}" alt="card-img" style="height: 300px">
                                              </div>
                                            </div>

                                            <ul class="row nav nav-pills" id="pills-tab" role="tablist">
                                              <li *ngFor="let url of aboutAuthorCurrentFarm.images" class="nav-item col-4 pr-1">
                                                <a (click)="changeAboutFarmerPhotoView(url)" class="nav-link img p-0 active show" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">
                                                  <img class="w-100" src="{{configuration.host}}/api/guest/file/{{url}}" alt="card-img">
                                                </a>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</ion-content>