<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="chat"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="orders" role="tabpanel">
                    <div class="myaccount-content">
                      <h3>Chats</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <div class="shop-product-wrap grid row no-gutters mb-35">

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product03.jpg" class="img-fluid" alt="">
                                </a>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="gf-product shop-grid-view-product">
                              <div class="image">
                                <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                                  <span class="onsale">Sale!</span>
                                  <img src="assets/images/product04.jpg" class="img-fluid" alt="">
                                </a>
                              </div>
                              <div class="product-content">
                                <div class="product-categories">
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a>,
                                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Vegetables</a>
                                </div>
                                <h3 class="product-title"><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Ornare sed consequat nisl eget</a></h3>
                                <div class="price-box">
                                  <span class="main-price">$89.00</span>
                                  <span class="discounted-price">$80.00</span>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>


