<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Chat</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="chat"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="orders" role="tabpanel">
                    <div class="myaccount-content">
<!--                      <h3>Chats</h3>-->

                      <div class="row">
                        <div class="col-lg-5 col-12">
                          <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">Contacts</div>
                            <div class="card-body pt-0 chat-body">
                              <ion-list class="ion-no-padding" no-lines>
                                <a *ngFor="let cc of contactChats" (click)="goToChatDetail(cc.user.id)" class="w-100">
                                  <ion-item>
                                    <ion-avatar>
                                      <ion-img *ngIf="cc.user.photo!= null && cc.user.photo.length>0" src="{{configuration.host}}/api/guest/file/{{cc.user.photo}}"></ion-img>
                                      <ion-img *ngIf="cc.user.photo== null || cc.user.photo.length==0" src="assets/images/no_image_available.png"></ion-img>
                                    </ion-avatar>
                                    <ion-label [color]="cc.user.id == id ? 'primary': ''">{{cc.user.name}}</ion-label>
<!--                                    <ion-buttons slot="end">-->
<!--                                      <ion-label>-->
<!--                                        <small>{{cc.lastUpdated | date: 'yyyy/MM/dd HH:mm'}}</small>-->
<!--                                      </ion-label>-->
<!--                                    </ion-buttons>-->
                                  </ion-item>
                                </a>
                              </ion-list>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-7 col-12">
                          <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">Chats</div>
                            <div class="card-body pt-0 chat-body">
                                <ion-list no-lines>
                                    <ion-item *ngFor="let msg of messages" >
                                        <chat-bubble [msg]="msg" style="width: 100%"></chat-bubble>
                                    </ion-item>
                                </ion-list>
<!--                              <ul class="conversation-list">-->
<!--                                <li class="clearfix chat-receive">-->
<!--                                  <div class="chat-avatar">-->
<!--                                    <img src="assets/images/product01.jpg" alt="male" class="mCS_img_loaded">-->
<!--                                    <p>10:00</p>-->
<!--                                  </div>-->
<!--                                  <div class="conversation-text">-->
<!--                                    <div class="text-content">-->
<!--                                      <i>John Deo</i>-->
<!--                                      <p>-->
<!--                                        Hello!-->
<!--                                      </p>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                </li>-->

<!--                                <li class="clearfix chat-send">-->
<!--                                  <div class="chat-avatar">-->
<!--                                    <img src="assets/images/product01.jpg" alt="male" class="mCS_img_loaded">-->
<!--                                    <p>10:00</p>-->
<!--                                  </div>-->
<!--                                  <div class="conversation-text">-->
<!--                                    <div class="text-content">-->
<!--                                      <i>John Deo</i>-->
<!--                                      <p>-->
<!--                                        Hello!-->
<!--                                      </p>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                </li>-->
<!--                              </ul>-->
                            </div>
                            <div class="card-footer">
                              <div class="text-right">
                                <input class="mr-5 chat-footer-text" type="text" placeholder="Enter text"  [(ngModel)]="myMessage"/>
                                <button (click)="addNewMessage()" type="button" class="btn btn-md btn-primary" [disabled]="myMessage.length==0">Send</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>


