<ion-content [fullscreen]="true">
  <div class="main-content">

    <app-header #headerPage></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-section section mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="cart-table table-responsive mb-40">
                <table class="table">
                  <thead>
                  <tr>
                    <th class="pro-thumbnail">Image</th>
                    <th class="pro-title">Product</th>
                    <th class="pro-price">Price</th>
                    <th class="pro-quantity">Quantity</th>
                    <th class="pro-subtotal">Total</th>
                    <th class="pro-remove">Remove</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let cart of shoppingCart; let i = index;">
                    <td class="pro-thumbnail"><a><img src="{{configuration.host}}/api/guest/file/{{cart.product.images[0]}}" class="img-fluid" alt="Product"></a></td>
                    <td class="pro-title"><a>{{cart.product.name}}</a></td>
                    <td class="pro-price"><span>PHP {{cart.product.promotionPrice}}</span></td>
                    <td class="pro-quantity">
                      <div class="pro-qty">
                        <input type="text" [(ngModel)]="shoppingCart[i].quantity">
                        <a (click)="increaseQuantity(cart)" class="inc qty-btn">+</a>
                        <a (click)="decreaseQuantity(cart)" class="dec qty-btn">-</a>
                    </div>
                    </td>
                    <td class="pro-subtotal"><span>PHP {{cart.quantity * cart.product.promotionPrice}}</span></td>
                    <td class="pro-remove"><a (click)="removeItem(cart.product.id)"><i class="fa fa-trash-o"></i></a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="calculate-shipping">
                  <h4>Calculate Shipping</h4>
                  <form action="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html#">
                    <div class="row">
                      <div class="col-md-6 col-12 mb-25">
                        <select class="nice-select" style="display: none;">
                          <option>Bangladesh</option>
                          <option>China</option>
                          <option>country</option>
                          <option>India</option>
                          <option>Japan</option>
                        </select><div class="nice-select" tabindex="0"><span class="current">Bangladesh</span><ul class="list"><li data-value="Bangladesh" class="option selected">Bangladesh</li><li data-value="China" class="option">China</li><li data-value="country" class="option">country</li><li data-value="India" class="option">India</li><li data-value="Japan" class="option">Japan</li></ul></div>
                      </div>
                      <div class="col-md-6 col-12 mb-25">
                        <select class="nice-select" style="display: none;">
                          <option>Dhaka</option>
                          <option>Barisal</option>
                          <option>Khulna</option>
                          <option>Comilla</option>
                          <option>Chittagong</option>
                        </select><div class="nice-select" tabindex="0"><span class="current">Dhaka</span><ul class="list"><li data-value="Dhaka" class="option selected">Dhaka</li><li data-value="Barisal" class="option">Barisal</li><li data-value="Khulna" class="option">Khulna</li><li data-value="Comilla" class="option">Comilla</li><li data-value="Chittagong" class="option">Chittagong</li></ul></div>
                      </div>
                      <div class="col-md-6 col-12 mb-25">
                        <input type="text" placeholder="Postcode / Zip">
                      </div>
                      <div class="col-md-6 col-12 mb-25">
                        <input type="submit" value="Estimate">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="discount-coupon">
                  <h4>Discount Coupon Code</h4>
                  <form action="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html#">
                    <div class="row">
                      <div class="col-md-6 col-12 mb-25">
                        <input type="text" placeholder="Coupon Code">
                      </div>
                      <div class="col-md-6 col-12 mb-25">
                        <input type="submit" value="Apply Code">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 col-12 d-flex">
                <div class="cart-summary">
                  <div class="cart-summary-wrap">
                    <h4>Cart Summary</h4>
                    <p>Sub Total <span>$1250.00</span></p>
                    <p>Shipping Cost <span>$00.00</span></p>
                    <h2>Grand Total <span>$1250.00</span></h2>
                  </div>
                  <div class="cart-summary-button">
                    <button class="checkout-btn">Checkout</button>
                    <button class="update-btn">Update Cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</ion-content>
