<div class="myaccount-tab-menu nav" role="tablist">
  <a routerLink="/my-account/profile" data-toggle="tab" [ngClass]="isProfilePage()?'active': ''"><i class="fa fa-user"></i> Profile</a>

  <a routerLink="/my-account/my-store" data-toggle="tab"  [ngClass]="isMyStorePage()?'active': ''"><i class="fa fa-home"></i> My Store</a>

  <a routerLink="/my-account/farm" data-toggle="tab" [ngClass]="isFarmPage()?'active': ''"><i class="fa fa-pagelines"></i>Farm</a>

  <a routerLink="/my-account/vehicle" data-toggle="tab" [ngClass]="isVehiclePage()?'active': ''"><i class="fa fa-truck"></i> Vehicle</a>

  <a routerLink="/my-account/order" data-toggle="tab" [ngClass]="isOrderPage()?'active': ''"><i class="fa fa-shopping-cart"></i> Orders</a>

  <a routerLink="/my-account/chat" data-toggle="tab" [ngClass]="isChatPage()?'active': ''"><i class="fa fa-comments-o"></i> Chat</a>

  <a routerLink="/my-account/user" data-toggle="tab" [ngClass]="isUserPage()?'active': ''"><i class="fa fa-users"></i> User</a>

  <a><i class="fa fa-sign-out"></i> Logout</a>
</div>
