<div class="myaccount-tab-menu nav" role="tablist">
  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html#dashboad" class="active" data-toggle="tab"><i class="fa fa-dashboard"></i>
    Dashboard</a>

  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>

  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html#download" data-toggle="tab"><i class="fa fa-cloud-download"></i> Download</a>

  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html#payment-method" data-toggle="tab"><i class="fa fa-credit-card"></i> Payment
    Method</a>

  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>

  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/my-account.html#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>

  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/login-register.html"><i class="fa fa-sign-out"></i> Logout</a>
</div>
