<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="user"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div *ngIf="showList" class="tab-pane fade active" id="orders" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right"><a (click)="openCreatingUser()" data-toggle="tooltip" title="Create Operation" class="btn btn-info"><i class="fa fa-user-plus"></i></a></span>
                      <h3>Users</h3>
                      <div class="myaccount-table table-responsive text-center">
                        <table class="table table-bordered">
                          <thead class="thead-light">
                          <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr *ngFor="let user of users; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.roles[0].name}}</td>
                            <td class="text-right">
                              <a *ngIf="!user.isActive" (click)="activate(user.username, i)" class="btn btn-info btn-sm">
                                <i class="fa fa-pencil-alt"></i>Activate
                              </a>
                              <button *ngIf="user.isActive" (click)="deactivate(user.username, i)" class="btn btn-danger btn-sm">
                                <i class="fa fa-pencil-alt"></i>Deactivate
                              </button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                          <div class="pagination-container">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="pagination-content text-center" *ngIf="pages.length>0">
                                              <ul>
                                                  <li *ngFor="let page of pages"><a (click)="gotoPage(page)" [ngClass]="page==currentPage?'active': ''">{{page}}</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="!showList" class="tab-pane fade active" id="register" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right"><a (click)="openUserList()" data-toggle="tooltip" title="Back to user list" class="btn btn-info"><i class="fa fa-arrow-left"></i></a></span>
                      <h3>Create Operation</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                          <form  role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="login-form">
                              <div class="row">
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Username*
                                    <span *ngIf="f.submitted && username.invalid">
                                      <span *ngIf="username.errors.required" class="text-danger"><small>Username is required</small></span>
                                      <span *ngIf="username.errors.minlength" class="text-danger"><small>Username must be at least 3 characters</small></span>
                                    </span>
                                  </label>

                                  <input class="mb-0" type="text" placeholder="Username" id="username" name="username" [(ngModel)]="form.username" #username="ngModel" required minlength="3">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Full Name*
                                    <span *ngIf="f.submitted && name.invalid">
                                    <span *ngIf="name.errors.required" class="text-danger"><small>Name is required</small></span>
                                    <span *ngIf="name.errors.minlength" class="text-danger"><small>Name must be at least 3 characters</small></span>
                                  </span>
                                  </label>

                                  <input class="mb-0" type="text" placeholder="Full Name" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" required minlength="3">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Email*
                                    <span *ngIf="f.submitted && email.invalid">
                                    <span *ngIf="email.errors.required" class="text-danger"><small>Email is required</small></span>
                                    <span *ngIf="email.errors.email" class="text-danger"><small>Email must be a valid email address</small></span>
                                  </span>
                                  </label>

                                  <input class="mb-0" type="email" placeholder="Email" id="email" name="email" [(ngModel)]="form.email" #email="ngModel" required email>
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Phone*
                                    <span *ngIf="f.submitted && phone.invalid">
                                    <span *ngIf="phone.errors.required" class="text-danger"><small>Phone is required</small></span>
                                    <span *ngIf="phone.errors.minlength" class="text-danger"><small>Phone must be at least 10 numbers</small></span>
                                  </span>
                                  </label>

                                  <input class="mb-0" type="text" placeholder="Phone" id="phone" name="phone" [(ngModel)]="form.phone" #phone="ngModel" required minlength="10">
                                </div>
                                <div class="col-md-6 mb-20">
                                  <label>Password*
                                    <span *ngIf="f.submitted && password.invalid">
                                    <span *ngIf="password.errors.required" class="text-danger"><small>Password is required</small></span>
                                    <span *ngIf="password.errors.minlength" class="text-danger"><small>Password must be at least 3 characters</small></span>
                                  </span>
                                  </label>

                                  <input class="mb-0" type="password" placeholder="Password" id="password" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="3">
                                </div>
                                <div class="col-md-6 mb-20">
                                  <label>Confirm Password*
                                    <span *ngIf="f.submitted && password.invalid">
                                    <span *ngIf="cpassword.errors.required" class="text-danger"><small>Confirm password is required</small></span>
                                    <span *ngIf="cpassword.errors.minlength" class="text-danger"><small>Confirm password must be at least 3 characters</small></span>
                                  </span>
                                    <span *ngIf="f.submitted && !passwordMatched" class="text-danger"><small>Not matched</small></span>
                                  </label>

                                  <input class="mb-0" type="password" placeholder="Confirm Password" id="cpassword" name="cpassword" [(ngModel)]="form.cpassword" #cpassword="ngModel" required minlength="3">
                                </div>
                                <div class="col-12">
                                  <button type="submit" class="register-button mt-0">Register</button>
                                </div>
                              </div>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>


