<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header currentPage="farmer-vehicle"></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Vehicle</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="vehicle"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="address-edit" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right"><button routerLink="new" data-toggle="tooltip" title="New Vehicle" class="my-account-search-button"><i class="fa fa-plus"></i></button></span>
                      <h3>Vehicles</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <table class="table table-bordered">
                          <thead class="thead-light">
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price (per km)</th>
                            <th>Weight can carry (kg)</th>
                            <th>Action</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr *ngFor="let vehicle of vehicles; let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{vehicle.name}}</td>
                            <td>{{vehicle.pricePerKm}}</td>
                            <td>{{vehicle.weightCarry}}</td>
                            <td>
                              <a (click)="deleteVehicle(vehicle.id)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                              <a routerLink="view/{{vehicle.id}}" class="btn btn-primary ml-5"><i class="fa fa-edit"></i> Edit</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>



