<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Order Detail</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="order"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="orders" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right"><a routerLink="/my-account/order" data-toggle="tooltip" title="Back to order" class="btn btn-info"><i class="fa fa-arrow-left"></i></a></span>
                      <h3>Order Details
                        <span>
                          <span *ngIf="isProcessing || isProcessed" class="badge bg-primary">{{order.status}}</span>
                          <span *ngIf="isDelivering" class="badge bg-success">{{order.status}}</span>
                          <span *ngIf="isFinished" class="badge bg-dark">{{order.status}}</span>
                          <span *ngIf="isCancelled" class="badge bg-danger">{{order.status}}</span>
                        </span>
                      </h3>


                        <div class="myaccount-table table-responsive text-center">
                          <form>
                            <div *ngIf="tokenStorage.hasPMRole() || tokenStorage.hasFarmerRole()" class="login-form">
                              <div class="row">
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Order Reference</label>
                                  <input class="mb-0" type="text" value="{{order.orderId}}" readonly>
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Date</label>
                                  <input class="mb-0" type="text" value="{{order.date | date: 'yyyy/MM/dd HH:mm'}}" readonly>
                                </div>

                                <div class="col-md-6 col-12 mb-20">
                                  <label>Order By</label>
                                  <input class="mb-0" type="text" value="{{order.orderBy.name}}" readonly>
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Email</label>
                                  <input class="mb-0" type="text" value="{{order.orderBy.email}}" readonly>
                                </div>

                                <div class="col-md-6 col-12 mb-20">
                                  <label>Phone</label>
                                  <input class="mb-0" type="text" value="{{order.orderBy.phone}}" readonly>
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                  <label>Address</label>
                                  <input class="mb-0" type="text" value="{{order.address}}" readonly>
                                </div>
                            </div>
                            </div>

                            <div class="cart-table table-responsive mb-40">
                              <table class="table">
                                <thead>
                                <tr>
                                  <th class="pro-thumbnail">Image</th>
                                  <th class="pro-title">Product</th>
                                  <th class="pro-price">Price</th>
                                  <th class="pro-quantity">Quantity</th>
                                  <th class="pro-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let orderItem of order.items; let i = index">
                                    <td *ngIf="displayFull(orderItem)" class="pro-thumbnail"><a><img src="{{configuration.host}}/api/guest/file/{{orderItem.product.images[0]}}" class="img-fluid" alt="Product"></a></td>
                                    <td *ngIf="displayFull(orderItem)" class="pro-title"><a>{{orderItem.product.name}}</a></td>
                                    <td *ngIf="displayFull(orderItem)" class="pro-price"><span>PHP {{orderItem.price}}</span></td>
                                    <td *ngIf="displayFull(orderItem)" class="pro-quantity">{{orderItem.quantity}}</td>
                                  <td *ngIf="!displayFull(orderItem)" colspan="4" class="pro-title"><a><strong>Item from other farmer</strong></a></td>
                                    <td class="pro-subtotal"><span>PHP {{orderItem.price * orderItem.quantity}}</span></td>
                                </tr>

                                <tr>
                                  <td colspan="4" class="pro-title"><a><strong>Shipping Fee</strong></a></td>
                                  <td class="pro-subtotal"><span>PHP {{order.shippingPrice}}</span></td>
                                </tr>

                                <tr>
                                  <td colspan="4" class="pro-title"><a><strong>Total price</strong></a></td>
                                  <td class="pro-subtotal"><span>PHP {{order.totalPrice}}</span></td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                            <div *ngIf="tokenStorage.hasPMRole()" class="login-form">
                              <div class="row">
                                <div class="col-12">
                                  <button *ngIf="isProcessing" class="btn btn-primary" (click)="processOrder(order.id)" style="border-radius: 50px !important;">Set Processed</button>
                                  <button *ngIf="isProcessed" class="btn btn-primary" (click)="deliverOrder(order.id)" style="border-radius: 50px !important;">Set Delivering</button>
                                  <button *ngIf="isDelivering" class="btn btn-primary" (click)="finishOrder(order.id)" style="border-radius: 50px !important;">Set Finished</button>
                                  <button *ngIf="isProcessing || isProcessed" class="btn btn-danger ml-1" (click)="cancelOrder(order.id)" style="border-radius: 50px !important;">Cancel Order</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>

