<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="order"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="orders" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right"><a routerLink="/my-account/order" data-toggle="tooltip" title="Back to order" class="btn btn-info"><i class="fa fa-arrow-left"></i></a></span>
                      <h3>Order Details</h3>

                        <div class="myaccount-table table-responsive text-center">
                          <form>
                            <div class="cart-table table-responsive mb-40">
                              <table class="table">
                                <thead>
                                <tr>
                                  <th class="pro-thumbnail">Image</th>
                                  <th class="pro-title">Product</th>
                                  <th class="pro-price">Price</th>
                                  <th class="pro-quantity">Quantity</th>
                                  <th class="pro-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                  <td class="pro-thumbnail"><a><img src="assets/images/product01.jpg" class="img-fluid" alt="Product"></a></td>
                                  <td class="pro-title"><a>Cillum dolore tortor nisl fermentum</a></td>
                                  <td class="pro-price"><span>$29.00</span></td>
                                  <td class="pro-quantity">1</td>
                                  <td class="pro-subtotal"><span>$29.00</span></td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </form>
                          <div class="row">
                            <div class="col-lg-6 col-12">
                            </div>
                            <div class="col-lg-6 col-12 d-flex">
                              <div class="cart-summary">
                                <div class="cart-summary-wrap">
                                  <h4>Cart Summary</h4>
                                  <p>Sub Total <span>$1250.00</span></p>
                                  <p>Shipping Cost <span>$00.00</span></p>
                                  <h2>Grand Total <span>$1250.00</span></h2>
                                </div>
                                <div class="cart-summary-button">
                                  <button class="checkout-btn">Checkout</button>
                                  <button class="update-btn">Update Cart</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>

