<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="orders" role="tabpanel">
                    <div class="myaccount-content">
                      <h3>Orders</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <table class="table table-bordered">
                          <thead class="thead-light">
                          <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                            <th>Action</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr>
                            <td>1</td>
                            <td>Mostarizing Oil</td>
                            <td>Aug 22, 2018</td>
                            <td>Pending</td>
                            <td>$45</td>
                            <td><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html" class="btn">View</a></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Katopeno Altuni</td>
                            <td>July 22, 2018</td>
                            <td>Approved</td>
                            <td>$100</td>
                            <td><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html" class="btn">View</a></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Murikhete Paris</td>
                            <td>June 12, 2017</td>
                            <td>On Hold</td>
                            <td>$99</td>
                            <td><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/cart.html" class="btn">View</a></td>
                          </tr>
                          </tbody>
                        </table>
                          <div class="pagination-container">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <!--=======  pagination-content  =======-->

                                          <div class="pagination-content text-center">
                                              <ul>
                                                  <li><a class="active" href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">1</a></li>
                                                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">2</a></li>
                                                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">3</a></li>
                                                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#">4</a></li>
                                                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#"><i class="fa fa-angle-right"></i></a></li>
                                              </ul>
                                          </div>

                                          <!--=======  End of pagination-content  =======-->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>

