<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="order"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="orders" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right">
                        <label class="mr-5">Order Status</label>
                        <select class="mr-5" id="status" name="status" [(ngModel)]="form.status" #status="ngModel">
                          <option value="all">All</option>
                          <option value="PROCESSING">Processing</option>
                          <option value="PROCESSED">Processed</option>
                          <option value="DELIVERING">Delivering</option>
                          <option value="FINISHED">Finished</option>
                          <option value="CANCELLED">Cancelled</option>
                        </select>
                        <input type="search" placeholder="Search order ref" aria-label="Search" id="orderId" name="orderId" [(ngModel)]="form.orderId" #orderId="ngModel">
                        <a (click)="search(1)" class="btn btn-info"><i class="fa fa-search"></i></a>
                      </span>
                      <h3>Orders</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <table class="table table-bordered">
                          <thead class="thead-light">
                          <tr>
                            <th>#</th>
                            <th>Order Ref</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr *ngFor="let order of orders; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{order.orderId}}</td>
                            <td>{{order.date | date: 'yyyy/MM/dd HH:mm'}}</td>
                            <td>{{order.totalPrice}}</td>
                            <td>
                              <span *ngIf="isProcessing(order) || isProcessed(order)" class="badge badge-primary">{{order.status}}</span>
                              <span *ngIf="isDelivering(order)" class="badge badge-success">{{order.status}}</span>
                              <span *ngIf="isFinished(order)" class="badge badge-dark">{{order.status}}</span>
                              <span *ngIf="isCancelled(order)" class="badge badge-danger">{{order.status}}</span>
                            </td>
                            <td>
                              <a routerLink="view/{{order.id}}" class="btn btn-primary btn-sm mr-1">
                                <i class="fa fa-folder"></i>View
                              </a>
                              <a *ngIf="tokenStorage.hasPMRole() && isProcessing(order)" (click)="processOrder(order.id, i)" class="btn btn-info btn-sm">
                                <i class="fa fa-spinner"></i>Set Processed
                              </a>
                              <a *ngIf="tokenStorage.hasPMRole() && isProcessed(order)" (click)="deliverOrder(order.id, i)" class="btn btn-info btn-sm">
                                <i class="fa fa fa-truck"></i>Set Delivering
                              </a>
                              <a *ngIf="tokenStorage.hasPMRole() && isDelivering(order)" (click)="finishOrder(order.id, i)" class="btn btn-info btn-sm">
                                <i class="fa fa-check"></i>Set Finished
                              </a>
                              <a *ngIf="tokenStorage.hasPMRole() && isProcessing(order) || isProcessed(order)" (click)="cancelOrder(order.id, i)" class="btn btn-danger btn-sm ml-1">
                                <i class="fa fa-trash"></i>Cancel
                              </a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <div class="pagination-container">
                          <div class="container">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="pagination-content text-center" *ngIf="pages.length>0">
                                  <ul>
                                    <li *ngFor="let page of pages"><a (click)="gotoPage(page)" [ngClass]="page==currentPage?'active': ''">{{page}}</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>

