<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header currentPage="buyer-address"></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Deliver Address</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-account-section section position-relative mb-50 fix">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-3 col-12">
                <app-left-menu currentPage="deliver-address"></app-left-menu>
              </div>
              <div class="col-lg-9 col-12">
                <div class="tab-content" id="myaccountContent">
                  <div class="tab-pane fade active" id="my-store" role="tabpanel">
                    <div class="myaccount-content">
                      <span class="pull-right"><button routerLink="new" data-toggle="tooltip" title="New" class="my-account-search-button"><i class="fa fa-plus"></i></button></span>
                      <h3>Delivery Address</h3>

                      <div class="myaccount-table table-responsive text-center">
                        <div class="shop-product-wrap grid row no-gutters mb-35">
                          <div *ngFor="let address of addresses" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div>
                              <address>
                                <p><strong>{{address.name}}</strong></p>
                                <p>{{address.state}}</p>
                                <p>{{address.address}}</p>
                              </address>

                              <a routerLink="view/{{address.id}}" class="btn d-inline-block edit-address-btn"><i class="fa fa-edit"></i>Edit Address</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>

</ion-content>

