<ion-content [fullscreen]="true">

  <div class="main-content">

    <app-header #headerPage></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Shop</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="shop-page-container mb-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 order-2 order-lg-1">
            <!--=======  sidebar area  =======-->

            <div class="sidebar-area">
              <!--=======  single sidebar  =======-->

              <div class="sidebar mb-35">
                <h3 class="sidebar-title">PRODUCT CATEGORIES</h3>
                <ul class="product-categories">
                  <li><a class="active" href="">Beans</a></li>
                  <li><a href="">Bread</a></li>
                  <li><a href="">Eggs</a></li>
                  <li><a href="">Fruits</a></li>
                  <li><a href="">Salads</a></li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fast Foods</a></li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Fish &amp; Meats</a></li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Uncategorized</a></li>
                </ul>
              </div>

              <!--=======  End of single sidebar  =======-->

              <!--=======  single sidebar  =======-->

              <div class="sidebar mb-35">
                <h3 class="sidebar-title">Filter By</h3>
                <ul class="product-categories">
                  <li><a class="active" href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Gold</a></li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Green</a></li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">White</a></li>
                </ul>
              </div>

              <!--=======  End of single sidebar  =======-->

              <!--=======  single sidebar  =======-->

              <div class="sidebar mb-35">
                <h3 class="sidebar-title">Filter By Price</h3>
                <div class="sidebar-price">
                  <div id="price-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 1.25%; width: 47.25%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 1.25%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 48.5%;"></span></div>
                  <input type="text" id="price-amount" readonly="">
                </div>
              </div>

              <!--=======  End of single sidebar  =======-->

              <!--=======  single sidebar  =======-->

              <div class="sidebar mb-35">
                <h3 class="sidebar-title">Compare</h3>

                <!--=======  compare product container  =======-->

                <ul class="product-list">
                  <li>
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html" class="remove" title="Remove">x</a>
                    <a class="title" href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Cillum dolore tortor nisl fermentum</a>
                  </li>
                  <li>
                    <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html" class="remove" title="Remove">x</a>
                    <a class="title" href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Condimentum posuere consectetur</a>
                  </li>
                </ul>
                <div class="compare-btns">
                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" class="clear-all">Clear all</a>
                  <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" class="compare">Compare</a>
                </div>

                <!--=======  End of compare product container  =======-->

              </div>

              <!--=======  End of single sidebar  =======-->

              <!--=======  single sidebar  =======-->

              <div class="sidebar mb-35">
                <h3 class="sidebar-title">Top rated products</h3>

                <!--=======  top rated product container  =======-->

                <div class="top-rated-product-container">
                  <!--=======  single top rated product  =======-->

                  <div class="single-top-rated-product d-flex align-content-center">
                    <div class="image">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                        <img src="assets/images/product01.jpg" class="img-fluid" alt="">
                      </a>
                    </div>
                    <div class="content">
                      <p><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Eodem modo vel mattis</a></p>
                      <p class="product-rating">
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                      </p>

                      <p class="product-price">
                        <span class="discounted-price"> $10.00</span>
                        <span class="main-price">$12.90</span>

                      </p>
                    </div>
                  </div>

                  <!--=======  End of single top rated product  =======-->
                  <!--=======  single top rated product  =======-->

                  <div class="single-top-rated-product d-flex align-content-center">
                    <div class="image">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                        <img src="assets/images/product02.jpg" class="img-fluid" alt="">
                      </a>
                    </div>
                    <div class="content">
                      <p><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Mirum est notare tellus</a></p>
                      <p class="product-rating">
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                      </p>

                      <p class="product-price">
                        <span class="discounted-price"> $10.00</span>
                        <span class="main-price">$12.90</span>

                      </p>
                    </div>
                  </div>

                  <!--=======  End of single top rated product  =======-->
                  <!--=======  single top rated product  =======-->

                  <div class="single-top-rated-product d-flex align-content-center">
                    <div class="image">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">
                        <img src="assets/images/product03.jpg" class="img-fluid" alt="">
                      </a>
                    </div>
                    <div class="content">
                      <p><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/single-product.html">Aliquam lobortis est turpis</a></p>
                      <p class="product-rating">
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                      </p>

                      <p class="product-price">
                        <span class="discounted-price"> $10.00</span>
                        <span class="main-price">$12.90</span>

                      </p>
                    </div>
                  </div>

                  <!--=======  End of single top rated product  =======-->

                </div>

                <!--=======  End of top rated product container  =======-->
              </div>

              <!--=======  End of single sidebar  =======-->

              <!--=======  single sidebar  =======-->

              <div class="sidebar">
                <h3 class="sidebar-title">Product Tags</h3>
                <!--=======  tag container  =======-->

                <ul class="tag-container">
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">new</a> </li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">bags</a> </li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">new</a> </li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">kids</a> </li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">fashion</a> </li>
                  <li><a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html">Accessories</a> </li>
                </ul>

                <!--=======  End of tag container  =======-->
              </div>

              <!--=======  End of single sidebar  =======-->
            </div>

            <!--=======  End of sidebar area  =======-->
          </div>
          <div class="col-lg-9 order-1 order-lg-2 mb-sm-35 mb-xs-35">

            <div class="shop-header mb-35">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
                  <div class="view-mode-icons mb-xs-10">
                    <a [ngClass]="gridView? 'active' : ''" (click)="changeToGridView()" data-target="grid"><i class="fa fa-th"></i></a>
                    <a [ngClass]="!gridView? 'active' : ''" (click)="changeToListView()" data-target="list"><i class="fa fa-list"></i></a>
                  </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
                  <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                    <p class="mr-10">Sort By: </p>
                    <select name="sort-by" id="sort-by" class="nice-select">
                      <option value="0">Sort By Nearest</option>
                      <option value="0">Sort By Newness</option>
                      <option value="0">Sort By Price: Low to High</option>
                      <option value="0">Sort By Price: High to Low</option>
                    </select>
                  </div>

                  <p class="result-show-message">Showing 1–12 of 41 results</p>
                </div>
              </div>
            </div>

            <div class="shop-product-wrap grid row no-gutters mb-35">
              <div *ngFor="let product of subProducts" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div *ngIf="gridView" class="gf-product shop-grid-view-product">
                  <div class="image">
                    <a routerLink="/products/detail/{{product.id}}">
                      <span *ngIf="product.promotionActive" class="onsale">Sale!</span>
                      <img src="{{configuration.host}}/api/guest/file/{{product.images[0]}}" class="img-fluid" alt="">
                    </a>
                    <div class="product-hover-icons">
                      <a (click)="addItemToCart(product)" data-tooltip="Add to cart"> <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="product-categories">
                      <a>Available {{product.quantity}} kg(s)</a>,
                      <a>{{product.category}}</a>
                    </div>
                    <h3 class="product-title"><a routerLink="/products/detail/{{product.id}}">{{product.name}}</a></h3>
                    <div *ngIf="product.promotionActive" class="price-box">
                      <span class="main-price">PHP {{product.price | number}}</span>
                      <span class="discounted-price">PHP {{product.promotionPrice}}</span>
                    </div>
                    <div *ngIf="!product.promotionActive" class="price-box">
                      <span class="discounted-price">PHP {{product.promotionPrice}}</span>
                    </div>
                  </div>

                </div>
              </div>

              <div *ngFor="let product of subProducts" class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12">
                <div *ngIf="!gridView" class="gf-product shop-list-view-product">
                  <div class="image">
                    <a routerLink="/products/detail/{{product.id}}">
                      <span *ngIf="product.promotionActive" class="onsale">Sale!</span>
                      <img src="{{configuration.host}}/api/guest/file/{{product.images[0]}}" class="img-fluid" alt="">
                    </a>
                    <div class="product-hover-icons">
                      <a href="https://demo.hasthemes.com/greenfarm-preview/greenfarm/shop-left-sidebar.html#" data-tooltip="Quick view" data-toggle="modal" data-target="#quick-view-modal-container"> <span class="icon_search"></span> </a>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="product-categories">
                      <a>Available {{product.quantity}} kg(s)</a>,
                      <a>{{product.category}}</a>
                    </div>
                    <h3 class="product-title"><a routerLink="/products/detail/{{product.id}}">{{product.name}}</a></h3>
                    <div *ngIf="product.promotionActive" class="price-box mb-20">
                      <span class="main-price">PHP {{product.price | number}}</span>
                      <span class="discounted-price">PHP {{product.promotionPrice | number}}</span>
                    </div>
                    <div *ngIf="!product.promotionActive" class="price-box mb-20">
                      <span class="discounted-price">PHP {{product.price | number}}</span>
                    </div>
                    <p class="product-description">{{product.description}}</p>
                    <div class="list-product-icons">
                      <a (click)="addItemToCart(product)"data-tooltip="Add to cart"> <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="pagination-container">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="pagination-content text-center" *ngIf="pages.length>0">
                      <ul>
                        <li *ngFor="let page of pages"><a (click)="gotoPage(page)" [ngClass]="page==currentPage?'active': ''">{{page}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </div>

</ion-content>

