<ion-content [fullscreen]="true">
  <div class="main-content">
    <app-header currentPage="bod"></app-header>

    <div class="breadcrumb-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="breadcrumb-container">
              <ul>
                <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">About Us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content mb-50">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-7 col-xl-6">
            <div class="mb-6 text-center">
              <div class="section-title">
                <h2>About us</h2>
              </div>
              <p>Thach's Farm is the app that connect farmers and buyers developed by:</p>
            </div>
          </div>
        </div>

        <div class="row mt-10">
          <div class="col-md-4">
            <div class="card card-hover border-0 rounded-0 mb-5">
              <div class="position-relative card-img-wrapper mb-5">
                <img style="height: 310px" class="card-img rounded-0" src="assets/images/owner.png" alt="card-img">
              </div>

              <div class="card-body text-center p-0">
                <a class="d-block">
                  <h4 class="card-text-hover">Pham Van Thach</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-hover border-0 rounded-0 mb-5">
              <div class="position-relative card-img-wrapper mb-5">
                <img style="height: 310px" class="card-img rounded-0" src="assets/images/financialmanager.jpg" alt="card-img">
              </div>

              <div class="card-body text-center p-0">
                <a class="d-block">
                  <h4 class="card-text-hover">DR. JD Espineli</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-hover border-0 rounded-0 mb-5">
              <div class="position-relative card-img-wrapper mb-5">
                <img style="height: 310px" class="card-img rounded-0" src="assets/images/hrmanager.jpg" alt="card-img">
              </div>

              <div class="card-body text-center p-0">
                <a class="d-block">
                  <h4 class="card-text-hover">DR. Mary Ann Reyes Florentino</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</ion-content>
